body {
    background-color: #282828;
    line-height: 0.5;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px red;
    font-size: 60px;
    margin-left: 5%;
    color: white;
}
h2 {
  font-size: 30px;
  text-align: left;
}
h3 {
  font-size: 25px;
  text-align: left;
}
h4 {
  font-size: 20px;
  text-align: left;
}
h5 {
  font-size: 16px;
  text-align: left;
}
a {
    color: red;
}
.card {
    background-color: #282828;
    margin: 0 auto;
    width: 80%;
    padding: 20px;
    border: 5px solid white;
}
.pagination {
    display: inline-block;
  }
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;}