body {
  background-color: #282828;
  line-height: 0.5;
}
::-webkit-scrollbar {
  width: 0px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px red;
  font-size: 60px;
  margin-left: 5%;
  color: white;
}
h2 {
  font-size: 30px;
  text-align: left;
}
h3 {
  font-size: 25px;
  text-align: left;
}
h4 {
  font-size: 20px;
  text-align: left;
}
h5 {
  font-size: 16px;
  text-align: left;
}
a {
  color: red;
}

.table {
  border-collapse: collapse;
  width: 100%;
  position: center;
}
.table:after {
  content: "";
  display: table;
  clear: both;
}
.card {
  background-color: #282828;
  margin: 0 auto;
  margin-top: 2.5%;
  width: 16%;
  padding: 20px;
  border: 5px solid white;
  float: left;
  margin-left: 2.5%;
}
.pagination {
  display: inline-block;
  width: 50%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
#popup {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.829); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#popup .thing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  margin: auto;
  text-align: center;
}
#popup .thing .vsize {
  font-size: 15px;
  text-align: left;
}
#popup .thing .close {
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 60px;
  font-weight: bold;
  color: #282828;
  cursor: pointer;
}
#popup .thing .desc {
  font-size: 15px;
  text-align: left;
  margin-left: 10px;
}
#popup .thing .close:hover {
  color: #ff0000;
}
#popup .thing img {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 4%;
}
.boton {
  background-color: #282828;
  margin: 5px;
  border: 2px solid rgb(138, 138, 138);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.boton:hover {
  background-color: white;
  color: #282828;
}
