body {
    background-color: #282828;
    line-height: 0.5;
}

h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px red;
    font-size: 60px;
    margin-left: 5%;
    color: white;
}
h2 {
  font-size: 30px;
  text-align: left;
  margin-left: 7.5%;
}
h3 {
  font-size: 25px;
  text-align: left;
  margin-left: 10%;
}
h4 {
  font-size: 20px;
  text-align: left;
  margin-left: 12.5%;
}
h5 {
  font-size: 16px;
  text-align: left;
  margin-left: 15%;
}
a {
    color: red;
}
a:hover {
    color: white;
}